.boxHome{
    border: 1px solid white;
    padding: 3px;
    height: 100%;
    margin-bottom: 7px;
}
.buttonNavBarTatuador{
    width: 90%;
    height: 80%;
    background: linear-gradient(to right, rgb(200, 108, 108)  90%, rgb(59, 161, 59));
    color: white;
    border-right: 3px solid green;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.buttonNavBarLienzo{
    width: 90%;
    height: 80%;
    background: linear-gradient(to right,rgb(59, 161, 59) 90%, rgb(200, 108, 108));
    color: white;
    border-right: 3px solid rgb(200, 108, 108);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.search{
   text-transform: lowercase;
    justify-content: left;
    width: 98%; 
    color: rgb(55, 54, 54);
    height: 80%;
    border-radius: 10px;
    border: 0.5px solid rgb(124, 124, 124);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.iconButton{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.gridContainer {
    display: grid;                                          /* Estilo pinteres*/
    grid-template-columns: repeat(auto-fill, 230px);        /* Estilo pinteres*/
    gap: 20px;                                              /* Estilo pinteres*/
    justify-content: center;                                /* Estilo pinteres*/

    grid-template-rows: masonry;                            /* Estilo pinteres*/
}

.buttonImg{
    width: 230px; /* Estilo pinteres*/
    padding: 1px;
}

.imgHome{
    border-radius: 10px;
}
.infoImg{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


/* ------ CSS MODAL -------*/
.modalImg{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 2px solid black;
    box-shadow: 24px;
    padding: 4px;
}

.modalImg > div {
    height: 100%;
}

.img{
    border-radius: 30px;
    padding: 15px;
    object-fit: cover;
   
}
.boxModal{
    margin-top: 15px;
    width: 95%;
    height: 70%;
    background-color: beige;
    border-radius: 10px;
}

.tagsModalContainer{
    text-align: right;
    display: grid;                                          /* Estilo pinteres*/
    grid-template-columns: repeat(auto-fill, 120px); 

}
.tagsModal{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconModal{
    width: 60px;
    height: 60px;
    color: black;
}


/* ------ CSS PROFILE -------*/

.gridContainerProfile {
    background-color: rgb(234, 234, 234);
    border-radius: 10px;
    display: grid;                                          /* Estilo pinteres*/
    grid-template-columns: repeat(auto-fill, 230px);        /* Estilo pinteres*/
    gap: 20px;                                             /* Estilo pinteres*/
    justify-content: center;                                /* Estilo pinteres*/
    grid-template-rows: masonry;                            /* Estilo pinteres*/
}

.buttonImgProfile{
    width: 230px; /* Estilo pinteres*/
    padding-top: 10px;
}

.imgProfile{
    border-radius: 10px;
}